body {
    background-color: #b6d7e6;
    font-family: Arial, Arial, Helvetica, sans-serif;
    text-align: center;
}


img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#heading {
    font-size: 2.5em; 
    font-weight: bold;
    color: #64043c;
    text-align: center;
}

#heading-2 {
    font-size: 1.8em; 
    font-weight: bold;
    color: #013164; 
    text-align: center;
    text-decoration: underline;
}

#console {
    font-weight: bold;
    color: red;
    text-align: center;
    font-size: 1.5em;
}